* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffbb5c;
}
h1,h2 {
    padding: 1.2em;
    font-size: 3em;
}


.container{
    text-align: center;
    
}
.navbar{
    background-color: #ff9b50;
    display: flex;
    justify-content: space-evenly;
    
    
}
.intro{
    padding-top: 5px;
    
    display: flex;
}
img{
    max-width: 50%;
}
#john{
    flex-basis: 40%;
}
.text{
    font-size: 2em;
    padding-left: 2em;
    padding-top: 2.9em;
}

.navbar_item{
    font-size: 1.5em;
    padding: 1em;
    text-decoration: none;
    color: #c63d2f;
}
.navbar_item:hover{
    cursor: pointer;
    background-color: #e25e3e;
    color: black;
    transition: .4s;
}

.exp_list{
    background-color: #e25e3e;
    padding-bottom: 2em;
}

li {
    font-size: 2em;
}
li>p{
    font-size: 0.7em;
}

.projects_items{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
}

.projects_items>p{
    padding: 2em;

}

footer{
    height: 15em;
    background-color: #c63d2f;
}
i{
    padding-left: 2px;
}